<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/">robmyers</a>
      </h1>
      <p class="lead">"self-defined artist, writer and hacker" – MakeTank</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="/about/">About Me</a>
      <a class="sidebar-nav-item" href="/abcd/">ABCD</a>
      <a class="sidebar-nav-item" href="/art-data/">Art Data</a>
      <a class="sidebar-nav-item" href="/critique/">Critique</a>
      <a class="sidebar-nav-item" href="/free-culture/">Free Culture</a>
      <a class="sidebar-nav-item" href="/glitch-aesthetics/">Glitch Aesthetics</a>
      <a class="sidebar-nav-item" href="/shareable-readymades/">Shareable Readymades</a>

      <br>

      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>

     </nav>
  </div>
</div>
